version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "gomod"
    directory: "/plugins/osHealth"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "gomod"
    directory: "/plugins/osHealth/vlib"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "gomod"
    directory: "/plugins/ufwApply"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
