[submodule "lib"]
	path = lib
	url = git@github.com:monobilisim/monokit_lib.git
[submodule "plugins/osHealth"]
	path = plugins/osHealth
	url = git@github.com:monobilisim/monokit_osHealth.git
[submodule "plugins/mariadbHealth"]
	path = plugins/mariadbHealth
	url = git@github.com:monobilisim/monokit_mariadbHealth.git
[submodule "plugins/mysqlHealth"]
	path = plugins/mysqlHealth
	url = git@github.com:monobilisim/monokit_mysqlHealth.git
[submodule "plugins/ufwApply"]
	path = plugins/ufwApply
	url = git@github.com:monobilisim/monokit_ufwApply.git
[submodule "plugins/pluginTemplate"]
	path = plugins/pluginTemplate
	url = git@github.com:monobilisim/monokit_pluginTemplate.git
[submodule "plugins/pgsqlHealth"]
	path = plugins/pgsqlHealth
	url = git@github.com:monobilisim/monokit_pgsqlHealth.git
[submodule "plugins/redisHealth"]
	path = plugins/redisHealth
	url = git@github.com:monobilisim/monokit_redisHealth.git
[submodule "plugins/valkeyHealth"]
	path = plugins/valkeyHealth
	url = git@github.com:monobilisim/monokit_valkeyHealth.git
[submodule "plugins/esHealth"]
	path = plugins/esHealth
	url = git@github.com:monobilisim/monokit_esHealth.git
[submodule "plugins/k8sHealth"]
	path = plugins/k8sHealth
	url = git@github.com:monobilisim/monokit_k8sHealth.git
[submodule "plugins/lbPolicy"]
	path = plugins/lbPolicy
	url = git@github.com:monobilisim/monokit_lbPolicy.git
[submodule "plugins/mongodbHealth"]
	path = plugins/mongodbHealth
	url = git@github.com:monobilisim/monokit_mongodbHealth.git
[submodule "plugins/vaultHealth"]
	path = plugins/vaultHealth
	url = git@github.com:monobilisim/monokit_vaultHealth.git
[submodule "plugins/zimbraHealth"]
	path = plugins/zimbraHealth
	url = git@github.com:monobilisim/monokit_zimbraHealth.git
[submodule "plugins/opnsenseHealth"]
	path = plugins/opnsenseHealth
	url = git@github.com:monobilisim/monokit_opnsenseHealth.git
[submodule "plugins/pmgHealth"]
	path = plugins/pmgHealth
	url = git@github.com:monobilisim/monokit_pmgHealth.git
[submodule "plugins/postalHealth"]
	path = plugins/postalHealth
	url = git@github.com:monobilisim/monokit_postalHealth.git
[submodule "plugins/pritunlHealth"]
	path = plugins/pritunlHealth
	url = git@github.com:monobilisim/monokit_pritunlHealth.git
[submodule "plugins/rmqHealth"]
	path = plugins/rmqHealth
	url = git@github.com:monobilisim/monokit_rmqHealth.git
[submodule "plugins/sshNotifier"]
	path = plugins/sshNotifier
	url = git@github.com:monobilisim/monokit_sshNotifier.git
[submodule "plugins/traefikHealth"]
	path = plugins/traefikHealth
	url = git@github.com:monobilisim/monokit_traefikHealth.git
[submodule "plugins/upCheck"]
	path = plugins/upCheck
	url = git@github.com:monobilisim/monokit_upCheck.git
[submodule "plugins/winHealth"]
	path = plugins/winHealth
	url = git@github.com:monobilisim/monokit_winHealth.git
[submodule "plugins/wppconnectHealth"]
	path = plugins/wppconnectHealth
	url = git@github.com:monobilisim/monokit_wppconnectHealth.git
[submodule "plugins/zimbraLdap"]
	path = plugins/zimbraLdap
	url = git@github.com:monobilisim/monokit_zimbraLdap.git
