[submodule "lib"]
	path = lib
	url = git@github.com:monobilisim/monokit_lib.git
[submodule "plugins/osHealth"]
	path = plugins/osHealth
	url = git@github.com:monobilisim/monokit_osHealth.git
[submodule "plugins/mariadbHealth"]
	path = plugins/mariadbHealth
	url = git@github.com:monobilisim/monokit_mariadbHealth.git
[submodule "plugins/mysqlHealth"]
	path = plugins/mysqlHealth
	url = git@github.com:monobilisim/monokit_mysqlHealth.git
[submodule "plugins/ufwApply"]
	path = plugins/ufwApply
	url = git@github.com:monobilisim/monokit_ufwApply.git
[submodule "plugins/pluginTemplate"]
	path = plugins/pluginTemplate
	url = git@github.com:monobilisim/monokit_pluginTemplate.git
[submodule "plugins/pgsqlHealth"]
	path = plugins/pgsqlHealth
	url = git@github.com:monobilisim/monokit_pgsqlHealth.git
[submodule "plugins/redisHealth"]
	path = plugins/redisHealth
	url = git@github.com:monobilisim/monokit_redisHealth.git
[submodule "plugins/valkeyHealth"]
	path = plugins/valkeyHealth
	url = git@github.com:monobilisim/monokit_valkeyHealth.git
[submodule "plugins/esHealth"]
	path = plugins/esHealth
	url = git@github.com:monobilisim/monokit_esHealth.git
[submodule "plugins/k8sHealth"]
	path = plugins/k8sHealth
	url = git@github.com:monobilisim/monokit_k8sHealth.git
[submodule "plugins/lbPolicy"]
	path = plugins/lbPolicy
	url = git@github.com:monobilisim/monokit_lbPolicy.git
[submodule "plugins/mongodbHealth"]
	path = plugins/mongodbHealth
	url = git@github.com:monobilisim/monokit_mongodbHealth.git
[submodule "plugins/vaultHealth"]
	path = plugins/vaultHealth
	url = git@github.com:monobilisim/monokit_vaultHealth.git
